FLASK_ENV=development
APP_HOST=0.0.0.0
APP_PORT=4001
SECRET_KEY=change-me

# Postgres en :5432
DATABASE_URL=postgresql+psycopg2://user:password@localhost:5432/dbname

# JWT
JWT_SECRET_KEY=change-me-jwt
JWT_EXPIRATION_HOURS=24

AUTH_REQUIRED=false
# 4201 = public-frontend | 4200 = collector-frontend
CORS_ORIGINS=http://localhost:4201,http://localhost:4200
